html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#map-canvas {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.intro-content{
  position: relative;
  top: 0;
  left: 5%;
  width: 90%;
  height: 92%;
  z-index: 1;
  background: rgba(255,255,255,.75);
  box-shadow: -3px 0 3px -3px rgba(0,0,0,.4), 3px 0 3px -3px rgba(0,0,0,.4);
}

.intro-bottom{
  position: relative;
  left: 5%;
  width: 90%;
  height: 26px;
  display: flex;
  cursor: pointer;
  margin-top: 1px;

  &.slide-up{
    margin-top: 0;

    .intro-bottom-center{
      @include transform(rotate(180deg));
      @include box-shadow(0,-3px,3px,-3px,rgba(0,0,0,.4));
    }
  }

  .intro-bottom-left{
    background: rgba(255,255,255,.75);
    height: 100%;
    width: 100%;
    @include flex(1);
    box-shadow: -3px 0 3px -3px rgba(0,0,0,.4), 0 3px 3px -3px rgba(0,0,0,.4);
    border-bottom-left-radius: 4px;
  }

  .intro-bottom-center{
    width: 196px;
    background: url('../img/intro-bottom.png') no-repeat center;
    @include box-shadow(0,3px,3px,-3px,rgba(0,0,0,.4));
  }

  .intro-bottom-right{
    background: rgba(255,255,255,.75);
    height: 100%;
    width: 100%;
    @include flex(1);
    box-shadow: 3px 0 3px -3px rgba(0,0,0,.4), 0 3px 3px -3px rgba(0,0,0,.4);
    border-bottom-right-radius: 4px;
  }

}

